*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../IMAGES/backgroundImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 65%;
    height: 90%;
    border: 5px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.new{
    width: 100%;
    height: 110px;
    font-size: 90px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    background-color: darkgreen;
    cursor: pointer;
    transition: 0.4s;
}
.new:hover{
    background-color: green;
}
.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.topSec{
    background: white;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 6px solid grey;
}
.title{
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 30px;
}
.button{
    width: 300px;
    height: 70px;
    background-color: red;
    border: 3px solid red;
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(221, 86, 86);
    border: 3px solid rgb(221, 86, 86);
}
.shakeAnimation{
    animation: shake 0.4s forwards;
    background-color: lightcoral;
    border: 2px solid red;
}
.box{
    width: 100%;
    height: 110px;
    font-size: 60px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: lightblue;
    position: relative;
}
.overlay2{
    width: 0;
    height: 40.5px;
    top: 0;
    left: 0;
    background-color: blue;
    position: absolute;
}
.titleText{
    cursor: pointer;
    border: 3px solid black;
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.titleText::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../IMAGES/rightArrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.titleText:hover::before{
    transform: translateX(0);
    opacity: 1;
}


@keyframes shake{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-10px);;
    }
    50%{
        transform: translateX(10px);;
    }
    100%{
        transform: translateX(0px);
    }
}