*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("../IMAGES/backgroundImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 65%;
    height: 90%;
    border: 5px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    padding: 10px;
}
#title{
    color: black;
}
.input{
    width: 500px;
    height: 45px;
    font-size: 35px;
    padding: 5px;
}
.priceInput{
    width: 150px;
    height: 45px;
    font-size: 35px;
    padding: 5px;
    margin: 0 0 0 10px;
}
.timeInput{
    width: 250px;
    height: 45px;
    font-size: 35px;
    padding: 5px;
    margin: 0 0 0 10px;
}
.savebutton{
    width: 300px;
    height: 70px;
    padding: 30px;
    background-color: blue;
    border: 2px solid blue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.savebutton:hover{
    background-color: aqua;
    border: 2px solid aqua;
}
.things{
    width: 800px;
    height: max-content;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
}
.words{
    font-weight: 500;
    width: 200px;
}
.prices{
    width: 200px;
    font-weight: 500;
    padding: 0 10px;
    border-left: 2px solid black;
}
.total{
    justify-content: center;
    margin: 50px 0 0 0;
}
.nowidth{
    width: max-content;
}
.divInputButton{
    width: 800px;
    height: max-content;
    display: flex;
    gap: 30px;
}
.balanceInput{
    width: 600px;
    height: 50px;
    font-size: 40px;
}
.confirm{
    width: 170px;
    height: 50px;
    font-size: 40px;
    background-color: blue;
    border: 4px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.confirm:hover{
    background-color: lightblue;
    border: 3px solid lightblue;
}
.percent{
    font-size: 40px;
    font-weight: 500;
}
.completeBar{
    width: 800px;
    height: 50px;
    padding: 20.4px;
    margin: 0 0 30px 0;
    border: 5px solid black;
    position: relative;
}
.completed{
    width: 0;
    height: 40.5px;
    top: 0;
    left: 0;
    background-color: green;
    position: absolute;
}
.shakeAnimation{
    animation: shake 0.4s forwards;
    background-color: lightcoral;
    border: 2px solid red;
}

@keyframes shake{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-10px);;
    }
    50%{
        transform: translateX(10px);;
    }
    100%{
        transform: translateX(0px);
    }
}